.button {
  background-color: orange;
  color: black;
  width: fit-content;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 0.1rem;
  border-width: 0;
}

.button:hover {
  filter: brightness(105%);
}

.button:active {
  filter: brightness(95%);
}

.button.disabled {
  background-color: gray;
  color: black;
  cursor: not-allowed;
  user-select: none;
}