.button {
  background-color: orange;
  color: black;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 0.1rem;
  border-width: 0;
}

.button:hover {
  filter: brightness(105%);
}

.button:active {
  filter: brightness(95%);
}

.disabled {
  background-color: gray;
  color: black;
}